# See https://help.github.com/ignore-files/ for more about ignoring files.
.~lock.*

# dependencies
/node_modules
/client/node_modules

# logs
/Strategies/*/logs/
/src/logs/

# testing
/coverage

# production
/build
/dist
/client/public
/client/dist


# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

index.xlsx
nsecd.xlsx
nsecm.xlsx
nsefo.xlsx
