.tab-buttons {
  height: 100%;
  display: flex;
  background-color: var(--background);
  color: var(--foreground);
}

.tab-buttons > * {
  background-color: var(--background);
  color: var(--foreground);
  border-color: grey;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  padding: 10px 10px;
  font-size: large;
}

.tab-buttons > *:hover {
  background-color: rgba(187, 187, 187, 0.5);
}



.tab-content{
  /* display: flex; */
  /* width: 100%;
  height: 100%; */
}